---
# Required by front matter
---

@import 'reset';
@import 'breakpoints';
@import 'typography';
@import 'navbar';

h1 {
    font-weight: bold;
    font-size: 2.5em;
    display: block;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/* TODO: HERE AS EXAMPLE
@include size-less-than($desktop) {
    html {
        color: red;
    }
}
*/
