---
# Required by front matter
---

$background-color: #EEE;

@import 'reset';
@import 'breakpoints';
@import 'typography';
@import 'navbar';

body {
    background-color: $background-color;
}

.heading {
    font-weight: bold;
    display: block;
    font-family: 'Lora', serif;
}

h1 {
    @extend .heading;
    font-size: 2.5em;
}

h2 {
    @extend .heading;
    font-size: 1.5em;
}

// Simple wrapper
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#projects {
    li {
        // Visual
        list-style-type: none;
        background-color: white;

        h2 {
            margin-bottom: 10px;
            margin-top: 0px;
        }

        p {
            display: inline;
        }

        // Spacing
        margin-bottom: 10px;

        // Material
        box-shadow: 0px 1px 5px #AAA;
        transition: box-shadow 0.2s;

        &:hover {
            box-shadow: 0px 5px 5px #AAA;
        }

        // Reset link, make div clickable
        a {
            padding: 15px;
            color: black;
            text-decoration: none;
            display: block;
            height: 100%;
        }
    }
}
