<nav>
    <ul>
        <li class="nav-mobile-top">&nbsp;<button
            class="nav-menu-toggle"><span></span><span></span><span></span></button></li>
        <div class="nav-mobile-collapse">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
    </ul>
</nav>
