$foreground-color: #333;

// Offset body
body {
    margin-top: 39px;
}

nav {
    background-color: $foreground-color;
    color: white;

    // Item display
    ul {
        list-style-type: none;

        li {
            @include size-greater-than($desktop) {
                display: inline-block;
            }

            @include size-less-than($desktop) {
                display: block;
            }

            a {
                padding: 10px;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                letter-spacing: 3px;
                font-weight: normal;

                &:hover {
                    background-color: $background-color;
                    color: $foreground-color;
                }
            }
        }
    }

    // Sticky navbar
    position: fixed;
    top: 0;
    width: 100%;
}
