<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | Joel Roggeman</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <meta charset="UTF-8">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:site" content="@joelroggeman">
        <meta name="twitter:description" content="{{ page.summary }}">
        <meta name="twitter:image" content="https://jroggeman.com/joel.jpg">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://jroggeman.com" />
        <meta property="og:image" content="http://jroggeman.com/joel.jpg" />
        <meta property="og:description" content="{{ page.summary }}" /> 
        <meta property="og:site_name" content="Joel Roggeman" />
    </head>

    <body>
        {% include header.html %}
        <div class="container">
            <h1>{{ page.title }}</h1>
            <div class="card">
                {{ content }}
            </div>
        </div>
        <script src="/scripts/main.js"></script>
    </body>
</html>
